html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#iframeContainer {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
}

#iframeContainer iframe {
    flex-grow: 1;
    width: 100%;
    border: none;
}
